<h1><%= @song.title %></h1>
<%= @song.artist_name %>
<p><%= @song.genre %></p>
<p>Released? <%= @song.released %></p>
<p>Release Year: <%= @song.release_year %></p>

<h3><%= link_to "Edit Song", edit_song_path %></h3>

<h3><%= link_to "Back to All Songs", songs_path %></h3>

<br>

<%= form_for @song do |f| %>
<%= button_to "Delete Song", songs_path, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
